# Backend gereksizleri
backend/node_modules/
backend/.env
backend/npm-debug.log

# Flutter gereksizleri
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.idea/
mobile/android/.gradle
mobile/ios/.symlinks
mobile/ios/Pods

# Sistem dosyaları
.DS_Store
Thumbs.db