USE [master]
GO
/****** Object:  Database [RestaurantAppDB]    Script Date: 22.01.2026 16:23:23 ******/
CREATE DATABASE [RestaurantAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RestaurantAppDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RestaurantAppDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantAppDB]
GO
/****** Object:  User [RestaurantAppUser]    Script Date: 22.01.2026 16:23:23 ******/
CREATE USER [RestaurantAppUser] FOR LOGIN [RestaurantAppUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [RestaurantAppUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [RestaurantAppUser]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 22.01.2026 16:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[slot_id] [int] NOT NULL,
	[booking_date] [date] NOT NULL,
	[party_size] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 22.01.2026 16:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[restaurant_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[address] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [nvarchar](255) NULL,
	[cuisine_type] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 22.01.2026 16:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[slot_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [int] NOT NULL,
	[time_slot] [time](7) NOT NULL,
	[capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.01.2026 16:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NULL,
	[birth_date] [date] NULL,
	[password] [nvarchar](255) NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerificationCodes]    Script Date: 22.01.2026 16:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerificationCodes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[code] [varchar](6) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([booking_id], [user_id], [slot_id], [booking_date], [party_size], [created_at]) VALUES (6, 1013, 30, CAST(N'2025-12-21' AS Date), 4, CAST(N'2025-12-14T19:20:57.537' AS DateTime))
INSERT [dbo].[Bookings] ([booking_id], [user_id], [slot_id], [booking_date], [party_size], [created_at]) VALUES (7, 1013, 91, CAST(N'2025-12-14' AS Date), 2, CAST(N'2025-12-14T19:21:09.673' AS DateTime))
INSERT [dbo].[Bookings] ([booking_id], [user_id], [slot_id], [booking_date], [party_size], [created_at]) VALUES (1005, 1013, 17, CAST(N'2025-12-25' AS Date), 2, CAST(N'2025-12-24T18:43:25.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurants] ON 

INSERT [dbo].[Restaurants] ([restaurant_id], [name], [address], [description], [image_url], [cuisine_type]) VALUES (1, N'Kebapçı Halil Usta', NULL, N'Gaziantep usulü zırh kıyma kebabı, kuşbaşı ve özel bakır sunumlarıyla meşhur lezzet durağı.', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7sbA_x8UzxugdN6qr8HF5GAUBAUwJtNh2dQ&s', N'Kebap')
INSERT [dbo].[Restaurants] ([restaurant_id], [name], [address], [description], [image_url], [cuisine_type]) VALUES (2, N'Adana Ocakbaşı', NULL, N'Kömür ateşinde pişen acılı Adana kebap, közlenmiş domates ve biber eşliğinde.', N'https://images.deliveryhero.io/image/fd-tr/LH/j2ic-listing.jpg', N'Kebap')
INSERT [dbo].[Restaurants] ([restaurant_id], [name], [address], [description], [image_url], [cuisine_type]) VALUES (3, N'Urfa Sofrası', NULL, N'Acısız Urfa kebabı, ciğer şiş ve yanında bol yeşillik ile geleneksel lezzet.', N'https://images.unsplash.com/photo-1555939594-58d7cb561ad1?auto=format&fit=crop&w=500&q=60', N'Kebap')
SET IDENTITY_INSERT [dbo].[Restaurants] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] ON 

INSERT [dbo].[TimeSlots] ([slot_id], [restaurant_id], [time_slot], [capacity]) VALUES (1, 1, CAST(N'11:00:00' AS Time), 20)
INSERT [dbo].[TimeSlots] ([slot_id], [restaurant_id], [time_slot], [capacity]) VALUES (2, 1, CAST(N'12:00:00' AS Time), 30)
INSERT [dbo].[TimeSlots] ([slot_id], [restaurant_id], [time_slot], [capacity]) VALUES (3, 1, CAST(N'13:00:00' AS Time), 30)
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [email], [created_at], [birth_date], [password], [name]) VALUES (1, N'test@test.com', CAST(N'2025-11-01T18:36:39.657' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([user_id], [email], [created_at], [birth_date], [password], [name]) VALUES (1013, N'baha.lor@hotmail.com', CAST(N'2025-12-12T18:11:52.827' AS DateTime), CAST(N'2001-04-17' AS Date), N'asd1234', N'Baha Lor')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UC_Booking]    Script Date: 22.01.2026 16:23:23 ******/
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [UC_Booking] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[slot_id] ASC,
	[booking_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164DA313CB2]    Script Date: 22.01.2026 16:23:23 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((1)) FOR [party_size]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[VerificationCodes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[TimeSlots] ([slot_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[Restaurants] ([restaurant_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBooking]    Script Date: 22.01.2026 16:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateBooking]
    @user_id INT,
    @slot_id INT,
    @booking_date DATE,
    @party_size INT -- Bu bilgi sadece kayıt için geliyor, hesaplama için değil
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @capacity INT;
        DECLARE @current_tables_booked INT; -- Değişken adı değişti

        -- 1. Kapasiteyi al (Masa sayısı)
        SELECT @capacity = capacity 
        FROM TimeSlots 
        WHERE slot_id = @slot_id;

        -- 2. Şu an kaç masa dolu? (COUNT ile sayıyoruz)
        SELECT @current_tables_booked = COUNT(*)
        FROM Bookings 
        WHERE slot_id = @slot_id AND booking_date = @booking_date;

        -- 3. KONTROL: Mevcut masalar + 1 (yeni masa) > Kapasite ise HATA
        IF (@current_tables_booked + 1 > @capacity)
        BEGIN
            RAISERROR('Maalesef tüm masalarımız dolu.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 4. Sorun yoksa ekle (party_size sadece bilgi olarak kaydediliyor)
        INSERT INTO Bookings (user_id, slot_id, booking_date, party_size)
        VALUES (@user_id, @slot_id, @booking_date, @party_size);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;
GO
USE [master]
GO
